<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.bton">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DefaultApplication"
        android:allowBackup="true"
        android:icon="@mipmap/benniconcircle2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bennicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTON">
        <activity
            android:name=".EmployeeRegistration"
            android:exported="false" />
        <activity
            android:name=".DinningHallMenuSection"
            android:exported="false" />
        <activity
            android:name=".DhallMenu"
            android:exported="false" />
        <activity
            android:name=".SchoolCalander"
            android:exported="false" />
        <activity
            android:name=".GeneralAnnouncement"
            android:exported="false" />
        <activity
            android:name=".CampusDirectory"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="false" />
        <activity
            android:name=".ContactHealthCenter"
            android:exported="false" />
        <activity
            android:name=".MapHealthCenter"
            android:exported="false" />
        <activity
            android:name=".HealthCenter"
            android:exported="false" />
        <activity
            android:name=".CampusGallery"
            android:exported="false" />
        <activity
            android:name=".AboutBTONCollege"
            android:exported="false" />
        <activity
            android:name=".Mainpage"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>